@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 1440px;
height: 5252px;
background: #1E252B;
}
 .section-1{
    position: relative;
    width: 1440px;
    height: 700px;
 }
 .info{
    background: #0004ff60;
    width: 600px;
    height: 354px;
 }
 .s-1{
width: 600px;
height: 140px;
color: rgba(255, 255, 255, 0.90);
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 140%;
Font:Poppins;
width:500;
Size :50px;
Line-height:70px;

 }
.s-1 span{
display: inline;
color: #FF6E30;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 140%;
Font:Poppins;
Weight:500;
Size :50px;
Line-height:70px;
}
.s-2{
    margin: 45px;
    margin-left: -1px;
    width: 487px;
    height: 60px;
    top: 348px;
    left: 108px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF8C;
}
.s-3{
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 497.66px;
height: 64px;
border-radius: 15px;
border: 1.5px solid rgba(255, 255, 255, 0.10);
background: #283036;

}
.batton{
display: flex;
justify-content:center;
align-items: center;
width: 130.43px;
height: 48px;
border-radius: 8px;
background: #FF6E30;
}
.in-text{
    width: 58.19px;
height: 24px;
top: 488px;
left: 500.31px;
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}
.area{
    position: relative;
    color: rgba(255, 255, 255, 0.38);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.line{
    position: relative;
    width: 1.5px;
    height: 21px;
    background: #837A93;
    
}
.search{
    margin-left: 35px;
    width: 191px;
    height: 21px;
    display: flex;
}
.search-sighn{
    position: absolute;
    width: 24.08px;
height: 24px;
}